html, body {

  margin: 0;
  padding: 0;
  background-color: #D8DFE8;
  color: #0A3871;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  height: 100vh;
}
.flex-container2 {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  height: 100vh;
 
}

.flex-item-left {
  width: 70%;
  height: 100vh;
  display: block;


}
.flex-item-right{
  background-color: dodgerblue;
  padding: 10px;
  background-color: white;
  height: 100vh;
  width: 30%;
  border-radius: 50px;

}


@media (max-width: 800px) {

  .input {

    width: 100%;
    font-size: 25px!important;
    font-weight: 50px!important;
    }

  .flex-container {
    flex-direction: column; 
    text-align: center;
  }
  .flex-container2 {
    display:block;
    flex-direction: row;
    text-align: center;
  
  }

  .flex-item-left {
    width: 53%;
  
  }
  .flex-item-right{
    width: 50%;
    border-radius: 20px;
    font-size: 15px!important;
   
  }
  #imagen{
    display:none;
  }

  .block {
    display: flex;
    flex-direction: column; 
   
  }
  .button1 {


    height: 50px!important;;
  
  }
  .button2 {
  
  
    height: 50px!important;;
  
   
  }
  
  
  
  .button3 {
 
    height: 50px!important;;
 
  }
  

  
}



@media (max-width: 400px) {


  .input {

    width: 100%;
    font-size: 25px!important;
    font-weight: 50px!important;
    }

  .flex-item-left {
    width: 53%;
    height: 80vh;
  }
  .flex-item-right{
    width: 50%;
    border-radius: 20px;
    font-size: 15px!important;
    height: 100vh;
  }
  
  .button3 {
    width: 100%;
    height: 20px!important;;
    border: 1px solid #0A3871;
    border-radius: 24px;
  }
  .flex-item-right{
   
    font-size: 10px!important;

  }


  
}



.block {
  display: flex;
  flex-direction: column; 
  height: 30vh;
}




.input {
  flex-direction: column; 
display: flex;
font-family: 'Inter';
font-style: normal;
font-weight: 100%;
font-size: 50px;
background-color: #D8DFE8;
border: none;
align-items: center;
text-align: center;
height: 100px;


}


.input::-webkit-input-placeholder { color: blue; } /* WebKit */
.input:-moz-placeholder { color: blue; } /* Firefox 18- */
.input::-moz-placeholder { color: blue; } /* Firefox 19+ */
.input:-ms-input-placeholder { color: blue; } /* IE 10+ */






/* estilos para el botón verde */
.button1 {

  margin-right: 10px; /* agregar un espacio de 10 píxeles a la derecha del primer botón */
  /* Dark blue/dark-blue-300 */
  background: #0A3871;
  border-radius: 24px;
  color: white;
  width: 100%;
  height: 100px;
  display: block;
  flex-direction: row;
}
.button2 {

  border: 1px solid #0A3871;
  border-radius: 24px;
  flex-direction: row;
  width: 100%;
  height: 100px;
  display: block;
}



.button3 {
  width: 100%;
  height: 100px;
  border: 1px solid #0A3871;
  border-radius: 24px;
}


  /* Estilos para pantallas más pequeñas */
  .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
  }



      



